<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container" id="buy_data_container">
    <h4 class="pt-3 text-170 text-600 text-danger letter-spacing">
        DATA PLANS 
      </h4>
<div class="mt-5">
      <div class="d-style btn btn-brc-tp border-2 bgc-white btn-outline-blue btn-h-outline-blue btn-a-outline-blue w-100 my-2 py-3 shadow-sm">
        <!-- Basic Plan -->
        <div class="row align-items-center">
          <div class="col-12 col-md-4">
            <h4 class="pt-3 text-170 text-600 text-warning letter-spacing">
              Basic Plan
            </h4>

            <div class="text-secondary-d1 text-120">
              <span class="ml-n15 align-text-bottom">Ksh</span><span class="text-180">1000</span> / month
            </div>
          </div>

          <ul class="list-unstyled mb-0 col-12 col-md-4 text-dark-l1 text-90 text-left my-4 my-md-0">
            <li>
              <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
              <span>
                <span class="text-110">GET 50GB</span>
                VALID FOR ONE MONTH
              </span>
            </li>

            <li class="mt-25 ">
              <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
              <span class="text-110">
                INTERNET SPEED OF 4mbps
            </span>
            </li>
            <li class="mt-25 ">
                <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                <span class="text-110">
                    FREE WhatsApp, Facebook AND Twitter
                </span>
              </li>
            
          </ul>

          <div class="col-12 col-md-4 text-center">
            <a type="button" class="f-n-hover btn btn-danger btn-raised px-4 py-25  text-600" (click)="open()">Buy Now</a>
          </div>
        </div>

      </div>

      

      <div class="d-style bgc-white btn btn-brc-tp btn-outline-green btn-h-outline-green btn-a-outline-green w-100 my-2 py-3 shadow-sm border-2">
        <!-- Pro Plan -->
        <div class="row align-items-center">
          <div class="col-12 col-md-4">
            <h4 class="pt-3 text-170 text-600 text-green-d1 letter-spacing">
              Pro Plan
            </h4>

            <div class="text-secondary-d2 text-120">
            
              <span class="align-text-bottom">Ksh</span><span class="text-180">2500</span> / month
            </div>
          </div>
          <ul class="list-unstyled mb-0 col-12 col-md-4 text-dark-l1 text-90 text-left my-4 my-md-0">
            <li>
              <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
              <span>
                <span class="text-110">GET 250GB</span>
                VALID FOR ONE MONTH
              </span>
            </li>

            <li class="mt-25 ">
              <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
              <span class="text-110">
                INTERNET SPEED OF 10mbps
            </span>
            </li>
            <li class="mt-25 ">
                <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                <span class="text-110">
                    FREE WhatsApp, Facebook AND Twitter
                </span>
              </li>
            
          </ul>
          <div class="col-12 col-md-4 text-center">
            <a type="button" class="f-n-hover btn btn-danger btn-raised px-4 py-25  text-600" (click)="open()">Buy Now</a>
          </div>
        </div>

      </div>



      <div class="d-style btn btn-brc-tp border-2 bgc-white btn-outline-purple btn-h-outline-purple btn-a-outline-purple w-100 my-2 py-3 shadow-sm">
        <!-- Premium Plan -->
        <div class="row align-items-center">
          <div class="col-12 col-md-4">
            <h4 class="pt-3 text-170 text-600 text-purple-d1 letter-spacing">
              Premium Plan
            </h4>

            <div class="text-secondary-d1 text-120">
              <span class="ml-n15 align-text-bottom">Ksh</span><span class="text-180">3400</span> / month
            </div>
          </div>
          <ul class="list-unstyled mb-0 col-12 col-md-4 text-dark-l1 text-90 text-left my-4 my-md-0">
            <li>
              <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
              <span>
                <span class="text-110">GET 200GB</span>
                VALID FOR ONE MONTH
              </span>
            </li>

            <li class="mt-25 ">
              <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
              <span class="text-110">
                INTERNET SPEED OF 32mbps
            </span>
            </li>
            <li class="mt-25 ">
                <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                <span class="text-110">
                    FREE WhatsApp, Facebook AND Twitter
                </span>
              </li>
            
          </ul>

          <div class="col-12 col-md-4 text-center">
            <a type="button" class="f-n-hover btn btn-danger btn-raised px-4 py-25  text-600" (click)="open()">Buy Now</a>
          </div>
        </div>

      </div>
    </div>
</div>
<div id="buy_data_container" class="col-12 pt-5" ></div>
