<div id="wrapper" class="animate">
    <nav class="navbar header-top fixed-top navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <a class="navbar-brand" [routerLink]="['/cybercode']">CYBERCODE USER PORTAL</a>
        <a class="navbar-nav userNav " href="#"><i class="fas fa-user"></i> </a>

      
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav animate side-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/cybercode/dashboard']" title="Dashboard"> Dashboard <i class="fas fa-tachometer-alt shortmenu animate" style="color: forestgreen;"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/cybercode/buy']" title="Buy data"> Buy data<i class="fas fa-flag shortmenu animate" style="color: red; "></i>  </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/cybercode/usage']" title="Data usage">Usage <i class="fas fa-info-circle shortmenu animate" style="color: yellowgreen;"></i></a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto d-flex">
          <!-- <li class="nav-item me-3 me-lg-0">
            <i class="fas fa-info-circle"></i>
            <a class="nav-link  me-lg-0" href="#"><i class="fas fa-user"></i> Profile</a>
          </li> -->
          <li class="nav-item me-5  me-lg-3">
            <a class="nav-link me-lg-0" href="#"><i class="fas fa-user"></i></a>
   
          </li>
        </ul>
      </div>
    </div>
    </nav>
  </div>
  <div class="container  px-4 me-4 pb-5">
    <router-outlet></router-outlet>
  </div>